<div class="flex justify-content-center align-items-center">
  <p-button
    icon="pi pi-arrow-left"
    [rounded]="true"
    (onClick)="previousYear()"
    [text]="true"
    class="mr-2" />
  <p class="text-primary text-3xl">{{$currentYear()}}</p>
  <p-button
    icon="pi pi-arrow-right"
    [rounded]="true"
    (onClick)="nextYear()"
    class="ml-2"
    [text]="true" />
</div>

<div class="text-center">
  <p-multiSelect
    [options]="months"
    placeholder="Filtrer par mois"
    [filter]="false"
    [showToggleAll]="true"
    [selectedItemsLabel]="$selectedLabel()"
    [maxSelectedLabels]="3"
    [showHeader]="true"
    appendTo="body"
    [style]="{'width':'20rem'}"
    [showClear]="true"
    [disabled]="$totalTrainingSessionInCurrentYear()===0"
    (onChange)="onSelectMonths($event)">
  </p-multiSelect>
</div>

@if (!isLoading){
<div class="">
  <p>
    Total de séances cette année :
    <span class="text-primary">{{$totalTrainingSessionInCurrentYear()}}</span>
  </p>
</div>
@if ($totalTrainingSessionInCurrentYear() === 0){
<p class="text-2xl text-center text-red-500">
  Aucune session enregristré en {{$currentYear()}}
</p>
} @else {
<p-chart type="bar" [data]="data" [options]="options"></p-chart>
} }
