<div class="flex justify-content-center align-items-center">
  <p-button
    icon="pi pi-arrow-left"
    [rounded]="true"
    (onClick)="previousYear()"
    [text]="true"
    class="mr-2" />
  <p class="text-primary text-3xl">{{$currentYear()}}</p>
  <p-button
    icon="pi pi-arrow-right"
    [rounded]="true"
    (onClick)="nextYear()"
    class="ml-2"
    [text]="true" />
</div>
<form [formGroup]="form">
  <div class="text-center">
    <p-multiSelect
      [options]="months"
      placeholder="Filtrer par mois"
      [filter]="false"
      [showToggleAll]="true"
      [selectedItemsLabel]="$selectedLabel()"
      [maxSelectedLabels]="3"
      [showHeader]="true"
      appendTo="body"
      [style]="{'width':'20rem'}"
      [showClear]="true"
      (onChange)="onSelectMonths($event)"
      formControlName="month">
    </p-multiSelect>
  </div>
</form>
@if (!isLoading){
<div class="">
  <p>Total de séances cette année : {{totalTrainingSessionInCurrentYear}}</p>
</div>
<p-chart type="bar" [data]="data" [options]="options"></p-chart>
}
