<div class="mt-3">
  <p-button
    label="Retour"
    icon="pi pi-arrow-left"
    [link]="true"
    [routerLink]="['/'+Routing.ADMIN+'/'+Routing.ADMIN_DASHBOARD]" />
</div>
<div class="mt-5">
  <p-tabView>
    <p-tabPanel header="Armes">
      <app-weapon-list></app-weapon-list>
    </p-tabPanel>
    <p-tabPanel header="Marques d'armes">
      <ng-template pTemplate="content">
        <app-factory-table-list
          [factoryType]="FactoryType.WEAPON"></app-factory-table-list>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Calibres">
      <ng-template pTemplate="content">
        <app-caliber-table-list></app-caliber-table-list>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
