@defer (when weaponFactories.length > 0){
<div class="flex flex-column">
  <form [formGroup]="form">
    <fieldset class="mt-4">
      <legend>Choisissez votre arme</legend>
      <div class="flex align-items-center justify-content-between">
        <label for="weaponFactory">Marque</label>
        <p-dropdown
          [options]="weaponFactories"
          id="weaponFactory"
          optionLabel="name"
          class="ml-2"
          formControlName="weaponFactory"
          optionValue="id"
          (onChange)="selectWeaponFactory($event.value)"
          placeholder="Selectionnez une marque"></p-dropdown>
        <label for="weaponModel" class="ml-3">Modele</label>
        <p-dropdown
          [options]="weaponsWM"
          class="ml-2"
          id="weaponModel"
          formControlName="weaponModel"
          optionLabel="model"
          optionValue="id"
          (onChange)="weaponSelected()"
          placeholder="Selectionnez un model"></p-dropdown>
      </div>
      <div class="mt-2 flex align-items-center justify-content-center">
        <label for="switchNewWeapon">Je ne trouve pas mon arme</label>
        <p-inputSwitch
          class="ml-2"
          formControlName="weaponNotFound"
          (onChange)="newWeaponForm($event.checked)"
          id="switchNewWeapon"></p-inputSwitch>
      </div>
      @defer (when isNewWeapon){ @if (isNewWeapon){
      <app-weapon-add (weaponAdded)="weaponAdded($event)"></app-weapon-add>
      } }
    </fieldset>
    <fieldset class="mt-2">
      <legend>Choisissez votre optique</legend>

      <div class="flex align-items-center justify-content-between">
        <label for="opticFactory">Marque</label>
        <p-dropdown
          [options]="opticsFactories"
          id="opticFactory"
          formControlName="opticFactory"
          optionLabel="name"
          optionValue="id"
          (onChange)="selectOpticsFactory($event.value)"
          placeholder="Selectionnez une marque"></p-dropdown>
        <label for="opticModel">Modele</label>
        <p-dropdown
          [options]="opticsWM"
          id="opticModel"
          optionLabel="model"
          optionValue="id"
          formControlName="opticModel"
          placeholder="Selectionnez un model"></p-dropdown>
      </div>
      <div class="mt-2">
        <label for="slopeRail">Rail penté ? (moa)</label>
        <p-inputNumber
          inputId="integeronly"
          id="slopeRail"
          formControlName="slopeRail"></p-inputNumber>
      </div>

      <div class="mt-2 flex align-items-center justify-content-center">
        <label for="switchNewOptics">Je ne trouve pas mon optique</label>
        <p-inputSwitch
          class="ml-2"
          formControlName="opticsNotFound"
          (onChange)="newOpticsForm($event.checked)"
          id="switchNewOptics"></p-inputSwitch>
      </div>
      @defer (when isNewOptics){ @if (isNewOptics){
      <app-optics-add (opticsAdded)="opticsAdded($event)"></app-optics-add>
      } }
    </fieldset>
    <fieldset class="mt-2">
      <legend>Choisissez votre rds</legend>
      <div class="flex align-items-center justify-content-between">
        <label for="rdsFactory">RDS</label>
        <p-dropdown
          [options]="weaponsWM"
          id="rdsFactory"
          optionLabel="model"
          [disabled]="true"
          placeholder="Selectionnez une marque"></p-dropdown>
        <p-dropdown
          [options]="weaponsWM"
          optionLabel="model"
          [disabled]="true"
          placeholder="Selectionnez un model"></p-dropdown>
      </div>
    </fieldset>
    <p-button
      label="Ajouter"
      class="mt-3"
      (onClick)="submit()"
      [disabled]="form.invalid"></p-button>
  </form>
</div>
}
