<form [formGroup]="form">
  <fieldset class="mt-4">
    <legend class="text-blue-500">Vitesse en sortie de canon</legend>
    <div class="text-right my-2">
      <p-button
        label="Tout supprimer"
        [severity]="'danger'"
        [disabled]="!$enableDeleteAll()"
        (onClick)="confirm($event)"></p-button>
    </div>
    <div class="formgrid grid">
      <ng-container formArrayName="speedHistories" class="field col-3">
        @for ( speed of speedArray.controls ;let i = $index ;track speed){
        <div [formGroupName]="i" class="mx-1">
          <label for="speed-{{ i }}">Vitesse enregistrée n°{{ i + 1 }} </label>
          <div>
            <p-inputNumber
              mode="decimal"
              suffix=" m/s"
              [maxFractionDigits]="1"
              inputId="minmaxfraction"
              class="mt-1"
              id="speed"
              formControlName="speed"></p-inputNumber>
            <p-button
              label="X"
              [severity]="'danger'"
              class="ml-1"
              (onClick)="removeSpeed(i)"></p-button>
          </div>
        </div>
        }
      </ng-container>
      <div class="flex justify-content-center align-items-center ml-2">
        <p-button
          label="Ajouter"
          [severity]="'info'"
          class="mt-4"
          (onClick)="addNewSpeed()"></p-button>
      </div>
    </div>

    <div class="field col-12 mt-2 flex justify-content-evenly">
      <p-button
        label="Annuler"
        [severity]="'secondary'"
        (onClick)="cancel()"></p-button>
      <p-button label="Sauvegarder" (onClick)="sendSpeedHistories()"></p-button>
    </div>
  </fieldset>
</form>
