<div class="text-center">
  <h2 class="text-blue-500">Changer votre mot de passe</h2>
  <p>Pensez à regarder dans vos spams</p>

  <p class="text-blue-500">Entrez le code à 6 chiffres</p>
  <form [formGroup]="form">
    <div class="mt-7">
      <p-inputNumber inputId="integeronly" formControlName="code" autofocus>
      </p-inputNumber>
    </div>
    <div class="mt-3">
      <span class="p-input-icon-left my-2">
        <i class="pi pi-lock"></i>
        <input
          type="password"
          pInputText
          formControlName="password"
          placeholder="password" />
      </span>
    </div>
    <div class="mt-3">
      <span class="p-input-icon-left my-2">
        <i class="pi pi-lock"></i>
        <input
          type="password"
          pInputText
          formControlName="confirmPassword"
          placeholder="Confirm Password" />
      </span>
    </div>
    <div class="mt-3">
      <p-button
        label="Activer"
        (onClick)="submit()"
        [disabled]="form.invalid"></p-button>
    </div>
  </form>
</div>
