<div class="text-center">
  <h1 class="text-3xl text-blue-500">Dashboard</h1>
  <div class="flex flex-wrap gap-5 justify-content-around mt-5">
    @for (card of cards;track card.title){
    <p-card
      header="{{card.totalEntry}}  {{card.title}}"
      [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png" />
      </ng-template>
      <p>
        Dernieres entree le {{card.createdAt|date :'dd MMM yyyy'}} <br />
        {{card.nameOrFactory}} -- {{card.firstNameOrModel}}
      </p>
      <ng-template pTemplate="footer">
        <p-button
          label="Gestion"
          icon="pi pi-search"
          (onClick)="navigateTo(card.routerLink)"></p-button>
      </ng-template>
    </p-card>
    }
  </div>
</div>
