@defer (when message){ @if (message.code === 3){
<p class="text-red-500">{{message.message}}</p>
<div class="mt-3">
  <p-button label="Redemander un code" (onClick)="getNewCode()"></p-button>
</div>
} @else {
<div class="text-center">
  <h2>Activer votre compte</h2>
  <p>Entrez le code à 6 chiffres</p>
  <form [formGroup]="form">
    <p-inputNumber inputId="integeronly" formControlName="code">
    </p-inputNumber>
    <p-button
      label="Activer"
      (onClick)="submitCode()"
      [disabled]="form.invalid"></p-button>
  </form>
</div>

} }
