@if (message.code === 103){
<div class="text-center">
  <p class="text-red-500">{{message.message}}</p>
  <div class="mt-3">
    <p-button label="Redemander un code" (onClick)="getNewCode()"></p-button>
  </div>
</div>
} @else if (message.code === 102){
<p class="text-red-500 text-4xl text-center">{{message.message}}</p>
} @else {
<div class="text-center">
  <h2 class="text-blue-500">Activer votre compte</h2>
  <p>Pensez à regarder dans vos spams</p>
  @if (message.code === 104){
  <p class="text-red-500">{{message.message}}</p>
  } @if (message.code === 3){
  <p class="text-green-500">{{message.message}}</p>
  }
  <p class="text-blue-500">Entrez le code à 6 chiffres</p>
  <form [formGroup]="form">
    <div class="mt-7">
      <p-inputNumber inputId="integeronly" formControlName="code" autofocus>
      </p-inputNumber>
    </div>
    <div class="mt-3">
      <p-button
        label="Activer"
        (onClick)="submitCode()"
        [disabled]="form.invalid"></p-button>
    </div>
  </form>
</div>

}
