<div class="text-center">
  <h1>Mot de passe oublié</h1>
  <p class="text-blue-500">
    Merci d'indiquer votre email, un code de confirmation vous sera envoyé
  </p>
  <form [formGroup]="form">
    <div class="mt-6">
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          formControlName="email"
          placeholder="email" />
      </span>
    </div>

    <div class="mt-4">
      <p-button label="Envoyer" (onClick)="submit()"></p-button>
    </div>
  </form>
</div>
