<div class="mt-3">
  <a
    class="p-button no-underline"
    [routerLink]="['/'+Routing.ADMIN+'/'+Routing.ADMIN_DASHBOARD]"
    ><i class="pi pi-arrow-left mr-2"></i>Retour</a
  >
</div>
<div class="mt-5">
  <p-tabView>
    <p-tabPanel header="{{weapons.length}} Armes">
      @if (!newWeaponForm){

      <app-caliber-dropdown
        [initDropdown]="currentCaliberId()"
        (selectedCaliber)="filterByCaliber($event.id)"></app-caliber-dropdown>
      <p-table
        [value]="filteredWeapons"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Marque</th>
            <th>Model</th>
            <th>Calibre</th>
            <th>Longueur du canon</th>
            <th>Ajouter le</th>
            <th class="text-center">Modifier</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-weapon>
          <tr>
            <td>{{ weapon.id }}</td>
            <td>{{ weapon.factory.name }}</td>
            <td>{{ weapon.model }} - {{ weapon.variation }}</td>
            <td>{{ weapon.caliber.label }}</td>
            <td>{{ weapon.barrelLength }}</td>
            <td>{{ weapon.createdAt | date:'dd MMM yyyy' }}</td>
            <td class="text-center">
              <p-button
                label="Editer"
                icon="pi pi-user-edit"
                [text]="true"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      }
      <div class="mt-2 text-center">
        <p-button
          label="{{newWeaponForm ? 'Annuler' : 'Ajouter'}}"
          icon="pi {{newWeaponForm ? 'pi-times' : 'pi-plus'}}"
          (onClick)="add()"></p-button>
        @defer (when newWeaponForm){ @if (newWeaponForm){
        <app-weapon-add (weaponAdded)="weaponAdded($event)"></app-weapon-add>
        } }
      </div>
    </p-tabPanel>
    <p-tabPanel header="Marques d'armes">
      <ng-template pTemplate="content">
        <app-factory-table-list
          [factoryType]="FactoryType.WEAPON"></app-factory-table-list>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Calibres">
      <ng-template pTemplate="content">
        <app-caliber-table-list></app-caliber-table-list>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
