@defer (when !isLoading){

<form [formGroup]="form">
  <fieldset class="mt-2">
    <legend class="text-blue-500 text-2xl">Ajouter une nouvelle arme</legend>

    <div class="flex flex-column">
      <div class="mt-2">
        <label for="weaponCategory">Categorie (*)</label>
        <p-dropdown
          [options]="weaponDataCollection.weaponCategoryList"
          id="weaponCategory"
          optionLabel="category"
          class="ml-2"
          formControlName="weaponCategory"
          optionValue="id"
          placeholder="Selectionnez une categorie"></p-dropdown>
      </div>
      <div class="mt-2">
        <label for="weaponType">Type d'arme (*)</label>
        <p-dropdown
          [options]="weaponDataCollection.weaponTypeList"
          id="weaponType"
          optionLabel="type"
          class="ml-2"
          formControlName="weaponType"
          optionValue="id"
          placeholder="Selectionnez une type d'arme"></p-dropdown>
      </div>
      <div class="mt-2">
        <label for="weaponCaliber">Calibre (*)</label>
        <p-dropdown
          [options]="weaponDataCollection.caliberList"
          id="weaponCaliber"
          optionLabel="caliber"
          class="ml-2"
          formControlName="weaponCaliber"
          optionValue="id"
          placeholder="Selectionnez un calibre"></p-dropdown>
      </div>

      <div class="mt-2">
        <label for="weaponFactory">Marque (*)</label>
        <p-dropdown
          [options]="weaponDataCollection.weaponFactoryList"
          id="weaponFactory"
          optionLabel="name"
          class="ml-2"
          formControlName="weaponFactory"
          optionValue="id"
          placeholder="Selectionnez une marque"></p-dropdown>
      </div>

      <div class="mt-2">
        <label for="weaponModel">Modele (*)</label>
        <input
          type="text"
          pInputText
          formControlName="weaponModel"
          id="weaponModel" />
      </div>
      <div class="mt-2">
        <label for="weaponModel">Variante (optionel)</label>
        <input
          type="text"
          pInputText
          formControlName="variation"
          id="weaponVariation" />
      </div>
      <div class="mt-2">
        <label for="barrelLength">Longueur du canon (en cm) (*)</label>
        <p-inputNumber
          mode="decimal"
          suffix=" cm"
          [max]="200"
          [maxFractionDigits]="1"
          inputId="minmaxfraction"
          id="barrelLength"
          formControlName="barrelLength"></p-inputNumber>
      </div>
      <div class="mt-2 flex align-items-center justify-content-center">
        <label for="isHeavyBarrel">Canon lourd ?</label>
        <p-inputSwitch
          class="ml-2"
          formControlName="isHeavyBarrel"
          id="isHeavyBarrel"></p-inputSwitch>
      </div>
      <div class="mt-2">
        <label for="barrelStripes">Pas de rayure du canon (optionel)</label>
        <p-inputNumber
          inputId="integeronly"
          id="barrelStripes"
          formControlName="barrelStripes"></p-inputNumber>
      </div>
      <p-button
        label="Valider"
        class="mt-3"
        (onClick)="submit()"
        [disabled]="form.invalid"></p-button>
    </div>
  </fieldset>
</form>
}
