<div class="text-center">
  <h1 class="text-blue-500">Mes informations</h1>
  <div class="text-left">
    <p>{{shooterProfile.firstName}} - {{shooterProfile.lastName}}</p>
    <p>Mon email : {{shooterProfile.email}}</p>
    <p>Membre depuis {{shooterProfile.createdAT | date:'dd MMM yyyy'}}</p>
  </div>
  <div class="mt-3">
    <p-button label="Modifier mon profil" (onClick)="editProfile()"></p-button>
  </div>
  @defer (when isEdit){ @if (isEdit){
  <app-shooter-edit
    [profile]="shooterProfile"
    (profileChange)="profileChange($event)"></app-shooter-edit>
  } }
</div>
