/* You can add global styles to this file, and also import other style files */
body{
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
  color: hsl(0deg,0%,29%);
  font-weight: 400;
  line-height: 1.5;
}

.container {
  max-width: 90rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h1, legend{
  color: black;
}

fieldset{
  border-color: #f6f6f64a;
  border-width: 1px;
  padding: 1rem 2rem;
  margin: 1.5rem;
  background: #f9f9f9;

  legend {
    font-weight: 600;
    padding: 0.15rem 1rem;
    background: #ffffff;
    color: #5e81ac;
  }

  // Fieldset inside fieldset
  fieldset{
    margin: 0;
    padding: 0;
    border: none;
    > div{
      border: 1px solid #5e81ac;
      padding: 0.15rem 1rem;
    }
    legend{
      background: none;
      padding: 0;
    }
  }
}
a{
  color: inherit;
;
}
